extends layout
block content
    .animated-marquee
        .animated-marquee-container.animated-marquee-foreground
            each card1 in ['','','','','','','','','','','','']
                .animated-marquee-card
        .animated-marquee-container.animated-marquee-middleground
            each card1 in ['','','','','','','','','','','','']
                .animated-marquee-card

        .animated-marquee-container.animated-marquee-background
            each card1 in ['','','','','','','','','','','','']
                .animated-marquee-card

    h1.mt-5 Posts list
    .bouton_4
        a(href='render_create_form' )
            i.fas.fa-plus(style="font-size: 20px;color: white;padding: 11px;")
            //img(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/173024/caddie.png')
            span.texteduboutton_4 Add Post
    //a.btn.btn-warning(href='render_create_form' style="float:right; margin-top: -163px;position: relative;" ) New Post
    .question-box
        #octo.octo
        |
        if (posts_list.length)
            each post in posts_list
                div.col-md-12
                    div.card
                        div.card-header
                            span(style='font-family:sans-serif;font-size: 20px;')='' + post.user.name


                        div.card-body(style='font-family:sans-serif;color: #313131;font-size: 15px;font-weight: lighter;letter-spacing: 2px;')='' + post.body
                        div.card-footer
                            div.float-right


                                    //a.btn.btn-success(href="/render_edit_form/" + post._id) Update
                                    //a.btn.btn-danger(href='/delete_post/' + post._id, onclick="return confirm('Are you sure ?')") Delete

                                    .row
                                        if (post.is_owner)
                                            .delete-confirm.delete-confirm-delete
                                                button.delete
                                                    i.fa.fa-arrow-up(aria-hidden='true')
                                                    span.text Delete
                                                button.yes.small
                                                    a.whiteBtn(href='/delete_post/' + post._id, onclick="return confirm('Are you sure ?')")
                                                        i.fa.fa-check
                                                button.no.small.whiteBtn
                                                    i.fa.fa-times
                                            .delete-confirm
                                                button.delete(style="background:#00bb6d")
                                                    a.whiteBtn(href="/render_edit_form/" + post._id , style="text-decoration: none;" )
                                                        i.fa.fa-edit
                                                        span.text Edit
                                        if (!post.is_liked)
                                            a.btn.like-post(href="javascript:;",  data-post-id=post._id, style="background: white;color: #007bff;margin-top:3px;font-size: 14px;border: 1px solid;")
                                                i.fas.fa-thumbs-up(style="margin-right: 7px;")
                                                span #{post.likes_count}

                                        else
                                            a.btn.unlike-post(href='javascript:;', data-post-id=post._id , style="background: #007bff;color: white;margin-top:3px;font-size: 14px;")
                                                i.fas.fa-thumbs-up(style="margin-right: 7px;")
                                                span #{post.likes_count}
                                        input(value=post.likes_count hidden='' id=post._id)







            else
                h4.mt-5 No posts found

block scripts
    script(src='https://code.jquery.com/jquery-3.6.0.min.js')
    script.
        $(function () {
            $(document).on('click', '.unlike-post', function () {
                let like_button = $(this);
                let post_id = $(this).data('post-id');
                $.ajax({
                    type: "POST",
                    url: "/unlike_post/" + post_id,
                    success: function () {
                        let current_likes_count = parseInt(document.getElementById(post_id + '').value)
                        document.getElementById(post_id + '').value = current_likes_count - 1
                        like_button.replaceWith('<a href="javascript:;" class="btn like-post" style="background: white;' +
                            'color: #007bff;margin-top:3px;font-size: 14px;border: 1px solid;" data-post-id="' + post_id + '">' +
                            '<i class="fas fa-thumbs-up" style="color=#adc8e4;margin-right: 7px;"></i><span>'+(current_likes_count-1)+'</span></a>');
                    },
                    error: function (error) {
                        alert('Post cant be liked');
                    }
                });
            });
            $(document).on('click', '.like-post', function () {
                let unlike_button = $(this);
                let post_id = $(this).data('post-id');
                $.ajax({
                    type: "POST",
                    url: "/like_post/" + post_id,
                    success: function () {
                        let current_likes_count = parseInt(document.getElementById(post_id+'').value);
                        document.getElementById(post_id+'').value = current_likes_count + 1
                        unlike_button.replaceWith('<a href="javascript:;" class="btn unlike-post"  style="background: #007bff;' +
                            'color: white;margin-top:3px;font-size: 14px;" data-post-id="' + post_id + '">' +
                            '<i class="fas fa-thumbs-up" style="margin-right: 7px;"></i><span>'+(current_likes_count+1)+'</span></a>');
                    },
                    error: function (error) {
                        alert('Post cant be unliked');
                    }
                });
            });
        });
        $(document).ready(function () {
            $('.delete-confirm-delete').each(function () {
                var $this = $(this);

                $('button.delete', $this).click(function () {
                    $(this).addClass('confirm');
                    $(".delete-confirm-delete").addClass('ofRight')
                });

                $('button.yes, button.no', $this).click(function () {
                    $('button.delete', $this).removeClass('confirm');
                    $(".delete-confirm-delete").removeClass('ofRight')

                });
            });
        });

block style
    Style.
        .card{
            margin-top:2em;
             font-family: cursive;
        }
        .btn{
            margin:0.5em;
        }
        .question-box {
              width: 50%;
              position: relative;
              left: 25%;
                        }
        body  {
             background: #000;
        }
        .float-right{
            display:flex
        }
        .imageLike{
            width: 20px;
            margin-right: 8px;
        }
        .h1, h1 {
          font-size: 3.5rem;
          text-align: center;
          /*padding-top: 2em;*/
          font-family:cursive;
          color:#fff;
        }
        .animated-marquee{
          background: #1697e0;
          margin: 0 auto;
          min-height: 340px;
          overflow: hidden;
          position: fixed;
          height: 100%;
          width: 100%;
        }

        @-webkit-keyframes slide
        {
          0% { -webkit-transform: rotate(-22deg) skewX(-22.5deg) translate3d(-100%,0,0); opacity: 0; }
          5% { opacity: 1; }
          50% { opacity: .8; }
          85% { opacity: 1; }
          100% { -webkit-transform: rotate(-22deg) skewX(-22.5deg) translate3d(25%,0,0); opacity: 0;}
        }

        .animated-marquee-container{
          position: absolute;
          top: -55%;
          width: 200%;
          -webkit-animation: slide 18s linear infinite;
        }

        .animated-marquee-foreground{
          margin-top: 3em;
          -webkit-animation-duration: 42s;
          width: 300%;
          z-index: 200;
        }
        .animated-marquee-middleground{
          margin-top: 6em;
          -webkit-animation-duration: 60s;
          z-index: 100;
        }
        .animated-marquee-background{
          margin-top: 3em;
          /*-webkit-animation-delay: 250ms;*/
          -webkit-animation-duration: 100s;
          z-index: 0;
        }

        .animated-marquee-card{
          background:#fff;
          float:left;
          margin-top: -2%;
          margin-right: 2%;
          -webkit-transition: opacity 2s ease-out;
          height: 100px;
          position: relative;
          width: 8%;
        }

        .animated-marquee-foreground .animated-marquee-card{
          height: 200px;
          margin-right: 9%;
          opacity: .6;
          width: 320px;
        }

        .animated-marquee-middleground .animated-marquee-card{
          margin-right: 2%;
          opacity: .3;
        }

        .animated-marquee-background .animated-marquee-card{
          height: 50px;
          margin-right: 1%;
          margin-top: 1%;
          opacity: .2;
          width: 4%;
        }
        .card-footer{
        background-color:white;
        border-top: none;
        }
        .card-header{
                background-color:white;
                border-bottom: none;
        }
        .card-body{
        padding-top: 0 !important;
        }
        .animated-marquee-card:hover{
          opacity: .8 !important;
        }

        .animated-marquee-card:nth-child(3n+3){
          left: 30%;
          top: 20%;
        }
        .animated-marquee-card:nth-child(8n+1){
          right: 20%;
        }
        .animated-marquee-card:nth-child(4n+3){
          top: 18%;
        }
        .animated-marquee-card:nth-child(3n+5){
          bottom: 10%;
        }
        .animated-marquee-card:nth-child(3n+1){
          visibility: hidden;
        }

        @media only screen and (max-width: 400px){
        .animated-marquee{
            height: 340px;
        }
        .animated-marquee-container{
            -webkit-animation: slide 14s linear infinite;
        }

        .animated-marquee-foreground{
            margin-top: 3em;
            -webkit-animation-duration: 22s;
        }
        .animated-marquee-middleground{
            margin-top: 6em;
            -webkit-animation-duration: 40s;
        }
        .animated-marquee-background{
            margin-top: 3em;
            -webkit-animation-duration: 75s;
        }
        .animated-marquee-foreground .animated-marquee-card{
            height: 140px;
            margin-right: 12px;
            width: 220px;
        }

        .animated-marquee-middleground .animated-marquee-card{
            height: 50px;
            margin-right: 2%;
        }

        .animated-marquee-background .animated-marquee-card{
            height: 30px;
            width: 4%;
        }
        }
        @media only screen and (max-width: 767px) and (min-width: 401px){
        .animated-marquee-container{
            top: -30%;
            width: 200%;
        }
        .animated-marquee-foreground .animated-marquee-card{
            height: 150px;
            margin-right: 10px;
            width: 240px;
        }

        .animated-marquee-middleground .animated-marquee-card{
            height: 50px;
            margin-right: 2%;
        }
        .animated-marquee-background .animated-marquee-card{
            height: 30px;
            width: 4%;
          }
        }
        @media only screen and (min-width: 1200px){
          .animated-marquee-container{
            top: -55%;
          }
        .animated-marquee-foreground .animated-marquee-card{
            height: 180px;
            margin-right: 6%;
            width: 280px;
          }

        .animated-marquee-middleground .animated-marquee-card{
            margin-right: 1%;
            height: 120px;
            width: 170px;
          }

        .animated-marquee-background .animated-marquee-card{
            height: 42px;
            margin: 1px;
            width: 2.5%;
          }
        .animated-marquee-card:nth-child(2n+2){
            left: 1%;
            top: 1%;
          }
        .animated-marquee-card:nth-child(5n+3){
            right: 1%;
            top: 1%;
          }
        .animated-marquee-card:nth-child(2n+6){
            top: 1%;
          }
        .animated-marquee-card:nth-child(6n+3){
            bottom: 1%;
            right: 1%;
          }
        .animated-marquee-card:nth-child(3n+2){
            visibility: hidden;
          }
        }
        #container {
             position: relative;
             width: 400px;
             margin: 0 auto;
             text-align: center;
             top: 25vh;
        }
        .row {
             margin: 0;
        }
        .delete-confirm {
             position: relative;
             display: inline-block;
        }
        .delete-confirm button {
             position: relative;
             font-family: 'Roboto', sans-serif;
             font-size: 10pt;
             white-space: nowrap;
             padding: 0.5em 2em;
             background-color: #bb0600;
             color: white;
             border: none;
             border-radius: 4px;
            cursor:pointer;
            margin:4px;
        }
        .delete-confirm button .fa + .text {
             margin-left: 0.2em;
        }
        .delete-confirm button.delete {
             z-index: 3;
             transition: all 0.2s ease 0.1s;
        }
        .delete-confirm button.delete.confirm {
             background-color: transparent;
             color: #444;
             transition: all 0.2s ease 0.2s;
             z-index: 0;
        }
        .delete-confirm button.delete.confirm ~ button.yes, .delete-confirm button.delete.confirm ~ button.no {
             visibility: visible;
             color: #181818;
             transition: all 0.5s ease, visibility 0, background-color 0.3s ease 0.2s;
        }
        .delete-confirm button.delete.confirm ~ button.yes:after, .delete-confirm button.delete.confirm ~ button.no:after {
             opacity: 1;
             transition: all 0.3s ease 0.2s;
        }
        .delete-confirm button.delete.confirm ~ button.yes {
             transform: translate(-100%,0);
             background-color: #bb0600;
        }
        .delete-confirm button.delete.confirm ~ button.yes:after {
             background-color: #990400;
             border: 2px solid #bb0600;
        }
        .delete-confirm button.delete.confirm ~ button.no {
             transform: translate(100%,0);
             background-color: #00aa05;
        }
        .delete-confirm button.delete.confirm ~ button.no:after {
             background-color: #008803;
             border: 2px solid #00aa05;
        }
        .delete-confirm button.yes, .delete-confirm button.no {
             position: absolute;
             top: 0;
             color: #bb0600;
             visibility: hidden;
             z-index: 1;
             transition: all 0.5s ease, visibility 0.5s, background-color 0.3s ease;
        }
        .delete-confirm button.yes:after, .delete-confirm button.no:after {
             content: "";
             display: block;
             opacity: 0;
             position: absolute;
             box-sizing: border-box;
             top: 50%;
             width: 8px;
             height: 8px;
             background-color: #990400;
             border: 2px solid #bb0600;
             border-radius: 50%;
             transition: all 0.3s ease;
             z-index: 2;
        }
         .delete-confirm button.yes {
             left: 0;
        }
        .delete-confirm button.yes:after {
             right: 0;
             transform: translate(50%,-50%);
        }
        .delete-confirm button.no {
             right: 0;
        }
        .delete-confirm button.no:after {
             left: 0;
             transform: translate(-50%,-50%);
        }
        .delete-confirm button:focus {
             outline: none;
        }
        .delete-confirm.small button, .delete-confirm button.small {
             padding: 0.5em 0.75em;
             text-align: center;
        }
        .whiteBtn{
        color: white;
        }
        .whiteBtn:hover{
                color: white;
                }
        .ofRight{
        margin-right: 25px;
        }
        .bouton_4{
           position: relative;
            margin-right:1em;
               float: right;
               width: 40px;
               height: 40px;
            border-radius:40px;
            background-color:#CB2025;
            overflow:hidden;
            -webkit-transition:all 0.2s ease-in;
            -moz-transition:all 0.2s ease-in;
            -ms-transition:all 0.2s ease-in;
            -o-transition:all 0.2s ease-in;
            transition:all 0.2s ease-in;
        }
        .bouton_4:hover{
            width:150px;
            height:40px;
            border-radius:40px;
            background-color:#97bf0d;
        }
        .texteduboutton_4
        {
            width:70%;
            padding-right: 10px;
            float:right;
            line-height:40px;
            color:#ffffff;
            font-family:'Roboto';
            font-weight:300;
            font-size:18px;
        }
